html {
  --color-black: #0e111b;
  --color-white: #fff;
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-30: rgba(255, 255, 255, 0.3);
  --color-white-20: rgba(255, 255, 255, 0.2);
  --color-white-10: rgba(255, 255, 255, 0.1);
  --color-white-5: rgba(255, 255, 255, 0.05);
  --color-primary: #fdc000;
  --color-hover: #f86a05;
  --color-area: #1c212e;
}
body {
  max-width: 1200px;
  background-color: #f1f2f3;
}

.contanier {
  $hi: 30px;
  margin: 40px 20px;

  .loading {
    width: 30px;
    height: 30px;
    margin: 30px auto;
    border: 4px solid #1c212e;
    border-top-color: transparent;
    border-radius: 50%;
    animation: loader 1s infinite linear;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .contentBundle {
    display: flex;
    gap: 10px;
    font-size: 16px;
    #addNew {
      button {
        color: var(--color-white);
        background-color: #0d6efd;
        height: $hi;
        border-radius: 0.5rem;
      }
    }
    .search {
      input {
        height: $hi;
        padding-left: 10px;
        border-radius: 0.5rem;
      }
      button {
        height: $hi;
        border-radius: 0.5rem;
        color: var(--color-white);
        background-color: #5c636a;
      }
    }
  }

  .main {
    margin-top: 60px;

    .subheading {
      font-weight: 600;

      padding: 15px;
    }

    #tasks {
      background-color: #f7f7f8;

      font-size: 18px;
      overflow-y: scroll;
      border: 10px solid #f7f7f8;
      border-radius: 20px;

      max-height: 500px;

      .contentBundle {
        display: flex;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15x;
        padding-left: 10px;
        border-bottom: 1px solid rgb(219, 218, 218);

        font-size: 18px;

        .options {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          padding-right: 5px;
        }
      }
    }
  }

  #msg {
    color: red;
  }
}
